<form #form="ngForm" (ngSubmit)="calculatePremiums(form.value)" novalidate>
  <div class="container">
    <header class="heading"> Calculate Premium</header>
    <div class="row ">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
            <label class="input">Member Name :</label> </div>
          <div class="col-xs-8">
            <input type="text" name="mname" class="form-control " #memberName ngModel>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
            <label class="input">Member Id :</label></div>
          <div class="col-xs-8">
            <input (ngModelChange)="filterSumValues(mid.value)" type="number" name="mid" class="form-control last" #mid ngModel required >
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
            <label class="input">Premium Payer Id :</label></div>
          <div class="col-xs-8">
            <input type="tel" name="pid" class="form-control last" ngModel #pid required pattern="[0-9]*">
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
            <label class="input">Insured Value :</label></div>
          <div class="col-xs-8" required>
            <select class="form-control" name="sumInsured" #sumInsured ngModel required>
              <option value="">--Select Value--</option>
              <option *ngFor="let insuredValue of insuredValues" value="{{insuredValue.id}}">{{insuredValue.value}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-12" style="padding: 6px; margin: 6px;">
        <div class="col-sm-12">
          <button [disabled]="form.invalid" class="btn btn-warning" type="submit">Calculate</button>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="errMessage.length > 0">
        <strong>Error!</strong> {{errMessage}}
      </div>
  </div>
</form>
