<div class="container">
  <div class="row ">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-xs-4">
          <label class="input">Policy Fee :</label> </div>
        <div class="col-xs-8">
          <input type="text" name="fname" [disabled]="true" class=" form-control ">
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-xs-4">
          <label class="input">Premium :</label> </div>
        <div class="col-xs-8">
          <input type="text" [disabled]="true" name="fname" class="form-control ">
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-xs-4">
          <label class="input">Total Fee :</label> </div>
        <div class="col-xs-8">
          <input type="text" name="fname" [disabled]="true" class=" form-control ">
        </div>
      </div>
    </div>
  </div>
</div>
